In [4]:
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [5]:
url =  "https://www.naukri.com/financial-analyst-jobs-in-mumbai?profile=financial%20analyst&location=mumbai"

In [6]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
time.sleep(3)
soup = BeautifulSoup(driver.page_source, 'html5lib')
driver.close()

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\PC\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache
C:\Users\PC\AppData\Local\Temp/ipykernel_3116/550121082.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [7]:
df = pd.DataFrame(columns=['Title','Company','Ratings','Reviews','Experience','Salary','Location','Job_Post_History','URL'])

In [8]:
results = soup.find(class_='list')

In [9]:
job_elems = results.find_all('article',class_='jobTuple bgWhite br4 mb-8')
len(job_elems)

20

In [10]:
for idx,job_elem in enumerate(job_elems):
    print(idx)
    # URL to apply for the job     
    URL = job_elem.find('a',class_='title fw500 ellipsis').get('href')
#     print(URL.strip())

    # Post Title
    Title = job_elem.find('a',class_='title fw500 ellipsis')

    # Company Name
    Company = job_elem.find('a',class_='subTitle ellipsis fleft')

    # Ratings
    rating_span = job_elem.find('span',class_='starRating fleft dot')
    if rating_span is None:
        continue
    else:
        Ratings = rating_span.text

    # Reviews Counts
    Review_span = job_elem.find('a',class_='reviewsCount ml-5 fleft blue-text')
    if Review_span is None:
        continue
    else:
        Reviews = Review_span.text

    # Years of experience Required
    Exp = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi experience')
    Exp_span = Exp.find('span',class_='ellipsis fleft fs12 lh16')
    if Exp_span is None:
        continue
    else:
        Experience = Exp_span.text

    # Salary offered for the job
    Sal = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi salary')
    Sal_span = Sal.find('span',class_='ellipsis fleft fs12 lh16')
    if Sal_span is None:
        continue
    else:
        Salary = Sal_span.text

    # Location for the job post
    Loc = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi location')
    Loc_exp = Loc.find('span',class_='ellipsis fleft fs12 lh16')
    if Loc_exp is None:
        continue
    else:
        Location = Loc_exp.text

    # Number of days since job posted
    Hist = job_elem.find("div",["type br2 fleft grey","type br2 fleft green"])
    Post_Hist = Hist.find('span',class_='fleft fw500')
    if Post_Hist is None:
        continue
    else:
        Post_History = Post_Hist.text

#   Appending data to the DataFrame 
    df=df.append({'URL':URL,'Title':Title.text,'Company':Company.text,'Ratings':Ratings,'Reviews':Reviews,'Experience':Experience,'Salary':Salary,'Location':Location,'Job_Post_History':Post_History},ignore_index=True)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
df.columns

Index(['Title', 'Company', 'Ratings', 'Reviews', 'Experience', 'Salary',
       'Location', 'Job_Post_History', 'URL'],
      dtype='object')

In [12]:
df.head()

,Title,Company,Ratings,Reviews,Experience,Salary,Location,Job_Post_History,URL
0,Offroll Associate - Financial Analyst (Smart),Crisil,3.7,(689 Reviews),0-1 Yrs,Not disclosed,"Pune, Mumbai (All Areas)",1 Day Ago,https://www.naukri.com/job-listings-offroll-as...
1,Finance Business Analyst,Fractal Analytics,4.0,(149 Reviews),2-4 Yrs,Not disclosed,Mumbai,Just Now,https://www.naukri.com/job-listings-finance-bu...
2,Analyst Financial Strategy,TresVista Financial Services Pvt Ltd,3.1,(44 Reviews),0-1 Yrs,Not disclosed,"Mumbai, Bangalore/Bengaluru",1 Day Ago,https://www.naukri.com/job-listings-analyst-fi...
3,Financial Markets - Financial Analyst,eClerx,3.6,(2419 Reviews),0-2 Yrs,Not disclosed,Mumbai,3 Days Ago,https://www.naukri.com/job-listings-financial-...
4,Sr Manager-Financial Planning & Analyst- Lower...,Entertainment Network,3.8,(73 Reviews),3-5 Yrs,"8,00,000 - 12,00,000 PA.",Mumbai,1 Day Ago,https://www.naukri.com/job-listings-sr-manager...